extends baseEmail

block content
  h2.top-title מנטאלי בכיס
  h5.sub-title איפוס סיסמה 
  p.first  שלום #{firstName},
  p  שכחת את הסיסמה ? לחץ על הכפתור למטה כדי לאפס את הסיסמה, איפוס זה תקף למשך 10 דקות .
  p נשמח לעזור בכל עניין
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') אפס סיסמה
  p ! אם לא שכחת את הסיסמה, יש להתעלם מהודעה זו.
