extends baseEmail

block content
  p  #{firstName} 砖 ,
  p 专  住驻'抓 
  p ! 砖  砖爪专驻转 , 砖 转转 转 砖专转  转专
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='right')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') 住 注专转
  p  转拽转 注 转 驻转   !
  p - 专转 住驻抓